{% extends "!layout.html" %}

{% block extrahead %}

<link rel="canonical" href="{{ 'https://itech.erickuha.com/' + pagename + '.html' }}" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>
pre {
    white-space: pre-wrap;
    display: block;
    background-color: #c3c3c3;
    padding: 10px;
    border-radius: 5px;
}

.figure {
    padding: 0 0 10px 0;
    border-style: solid;
    border-width: 2px;
    border-color: #afbfc0;
}

.caption {
    padding-top: 5px;
    text-align: center;
    color: 121212;
    font-style: italic;

}

ol {
    background-color: #f0f4f0;
}
</style>
{% endblock %}
